<div class="calendar-description-container">
  <div class="row align-items-center bg-light">
    <div class="col">
      <h1>
        {{t @model.titleKey}}
      </h1>
      <h5>
        {{t @model.descriptionKey}}
      </h5>
    </div>
  </div>
</div>

