<button type="button" class="timeslot-event-container" style={{compute (fn this.getTimeslotStyle @model this.timeslotAndConflicts)}} {{on "click" @onClick}}>

  <div class="activity-title text-truncate">
    {{@model.activityName}}
  </div>

  {{#each (range 0 this.numberOfThirtyBlocks)}}
    <div class="thirty-minute-block"> </div>
  {{/each}}
  
</button>