<div class="calendar-description-container align-items-center bg-light">
  <h1>
    {{t @model.titleKey}}
  </h1>
  <h5>
    {{t @model.descriptionKey}}
  </h5>
  <h6>
    {{t @model.descriptionFootnote}}
  </h6>
</div>

