//Colors
$primary-color: #FFF12D;
$secondary-color: #207D88;
$border-color: #cccccc;
$grey-color: #f7f7f7;
$grey-color-darker: #f0f0f0;
$dark-grey-color: #757575;
$dark-color: #333333;
$white-color: #FFFFFF;

//Status Colors
$success-color : #5EB75E;
$info-color : #5DBFDC;
$warning-color : #EFAE56;
$error-color : #D85753;