$image-path: '/back-office-calendar/assets/img';  

//Colors
$primary-color: #2BACBA;
$secondary-color: #F4F3F0;
$border-color: #cccccc;
$grey-color: #F4F3F0;
$grey-color-darker: #f0f0f0;
$dark-grey-color: #757575;
$dark-color: #1D1D1D;
$white-color: #FFFFFF;

//Status Colors
$success-color : #616161;
$info-color : #5DBFDC;
$warning-color : #EFAE56;
$error-color : #D85753;

$shadow-1 : 0px 3px 6px #00000016;
$shadow-2 : 2px 2px 10px #00000010;
$shadow-3 : 2px 2px 10px #00000022;