

.calendar-description-container{

  background-color: $grey-color;
  padding : 25px;
}

.calendar-day-container{

  .calendar-time-title{
    width : 50px;
  }

  .hour-container{

    .hour-block{
      hr{
        margin: 0;
        width : 100%;
        position : absolute;
      }
    }
  }

  .hour-container:hover{
    color : $primary-color;
  }

  $timeslot-height: 25px;

  .thirty-minute-block{
    height : $timeslot-height;
  }

  .thirty-minute-block.background-block{
    background-color : $grey-color;
    transition: all 0.2s ease;
  }

  .thirty-minute-block.background-block:hover{
    background-color : $grey-color-darker;
    box-shadow : $shadow-3;
  }

  .timeslot-event-container{
    position: absolute;
    background-color: $white-color;
    border : 1px solid $border-color;
    border-top : 1px solid $primary-color;
    padding : 0;
    width : 100%;
    margin-bottom : -1px;
    box-shadow : $shadow-3;
    transition: all 0.2s ease;
    z-index: 5;

    .activity-title{
      position: absolute;
      margin-left: 5px;
      font-size : 14px;
    }
  }

  .timeslot-event-container:hover{
    background-color: $primary-color;
    color : $white-color;
    transform: scale(1.01, 1.01);
    z-index : 10;
    box-shadow : $shadow-1;
  }
}