body{
  font-family: sofia,sans-serif;
}

.navbar-brand{
  padding-left : 10px;
  padding-right : 10px;
}

.content-container{
  padding : 50px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;

  @media screen and (max-width: 1151px) {
    margin : 0 4rem;
  }

  .content-section{
    padding : 15px 0;
  }
}

