{{page-title "Timeslot"}}

<div class="row">
  <div class="col">
    <button type="button" class="btn" {{on "click" this.onBack}}>
      {{t "dashboard.done"}}
    </button>
  </div>
</div>

<TimeslotForm
  @model={{@model.timeslot}}
>
</TimeslotForm>