{{page-title "Dashboard"}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand bg-primary text-white" href="#">
    <i class="bi-calendar2-day mr-2"></i>
    {{t "dashboard.calendar"}}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{!--Nav links would go here as the application grows--}}

      {{!-- <li class="nav-item">
        <LinkTo @route="dashboard.day-view" class="">
          {{t "dashboard.dayView"}}
        </LinkTo>
      </li> --}}
    </ul>

    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <i class="bi-question"></i>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <i class="bi-gear"></i>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <i class="bi-person"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="content-container">
  {{outlet}}
</div>

